h1 {
    color: red;
}
ul {
    border: 1px solid red;
    li {
        color: red;
    }
}
// scss -> css COMPILE
// 컴파일러 설치 (node - npm)
// Ctrl + Shift + p 팔레트
// sass --watch scss/style.scss css/style.css